SNOWFLAKE_ACCOUNT=your_account_identifier
SNOWFLAKE_USER=your_username
SNOWFLAKE_PASSWORD=your_password_or_pat
SNOWFLAKE_AUTHENTICATOR=snowflake
SNOWFLAKE_PRIVATE_KEY_FILE=
SNOWFLAKE_PRIVATE_KEY_FILE_PWD=
SNOWFLAKE_ROLE=your_role
SNOWFLAKE_WAREHOUSE=your_warehouse
SNOWFLAKE_DATABASE=your_database
SNOWFLAKE_SCHEMA=optional_schema_name
